<!DOCTYPE html>
<html>
    <head>
        <title>Kontaktanfrage</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h3>Kontaktanfrage von [{{.Content.SenderEmail}}] am {{.Content.Time}} um {{.Content.Tstamp}} Uhr: </h3>
        Firma: {{.Content.companyName}}<br>
        Abteilung: {{.Content.departmentName}}<br>
        Nachname: {{.Content.lastName}}<br>
        Vorname: {{.Content.firstName}}<br>
        Email: {{.Content.SenderEmail}}<br>
        Straße: {{.Content.street}}<br>
        PLZ: {{.Content.postCode}}<br>
        Telephon: {{.Content.telephone}}<br>
        Fax: {{.Content.fax}}<br>
        Nachricht: {{.Content.customerMessage}}<br>
    </body>
</html>
