<!DOCTYPE html>
<html>
    <head>
        <title>Ihre Anfrage wird bearbeitet. Wir bitten um Geduld!</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h3>Hallo {{.Content.Username}}. Ihre Anfrage wird bearbeitet. Wir bitten um Geduld!</h3>

        <span style="font-size:12px">
        <br>schommtech GmbH & Co. KG
        <br>IT-Consulting & -Solutions
        <br>
        <br>Schommtech Support
        <br>Bertha-von-Suttner-Allee 38
        <br>77933 Lahr
        <br>Tel.: 07821-9932426
        <br>Fax: 07821-9932425
        <br>Mobil: 0151-27528097
        <br>E-Mail: info@schommtech.net
        </span>
        <br>
        <br>
        Ihre Nachricht am {{.Content.Time}} um {{.Content.Tstamp}} Uhr:
        <br>
      <i>{{.Body}}</i>

    </body>
</html>
