From: {{.From}}
To: {{.To}}
Subject: {{.Subject}}
MIME-version: 1.0
Content-Type: text/html; charset="UTF-8"

<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <meta charset="utf-8">
</head>
<body>

    <h1>TestÜberschrift für HTML-Email</h1>
    {{.Body}}
    Sincerely,
    {{.From}}

</body>
</html>
