div.fade-in {
    background: #FFF;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
}

div.fade-in.load {
    visibility: visible
}

div.fade-in div {
    opacity: 0;
    width: 25%;
    margin: 15% auto auto auto;
}

div.fade-in.load div {
    opacity: 1;
    width: 25%
}
