@charset "UTF-8";

/* Global Content Formatting and Styles */

body {
    color: #603;
    font-family: Verdana;
    font-size: 16pt;
    height: 100%;
    line-height: 30px;
    margin: 0;
    padding: 0
 }

/* Layout Large Screens (default for older browsers) */

.page {
    min-height: 100%;
    max-width: 1000px;
    margin: 75px auto 0px auto;
    padding-bottom: 100px
}

h1 { font-size: 1.5em; font-weight: strong; color: #603; margin: 0 0 .5em 0; }
h2 { font-size: 1.7em; margin: 0 0 1em 0; }
h3 { font-size: 1.1em; margin: 0 0 1em 0; }
p { font-size: 1em; color: #603 }
ul { list-style-type: none; line-height: 40px; padding: 0; margin: 0 }
li { padding-left: 16px; text-indent: -20px }
li:before { content: "+"; padding-right: 8px; color: #603; position: relative; }

/*--------------FIXED TOP--------------*/

.fixed-topline {
    position: absolute;
    top: 0;
    margin: 0px auto;
    height: 50px;
    width: 100%
}

.fixed {
   background-color: #fff;
   height: 50px;
   position: fixed;
   width: 100%;
    /* Do not set top / left! */
}

/*--------------MAIN NAVIGATION--------------*/

nav.main {
    background-color: #603;
    height: 54px;
    margin-top: 20px;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%
}

nav.main > ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.main > ul > li {
    float: left;
    text-indent: 0px
}

nav.main > ul > li:before {
    content: none
}

#i-nav {
    display: none
}

/*--------------LOGO--------------*/

.logo {
    max-width: 100%;
    float: right;
    margin-top: -62px;
    position: relative
}

.logo-home {
    max-width: 35%;
    margin: 15% auto 0 auto
}

/*--------------ARTICLE--------------*/

article {
    max-width: 90%;
    margin: 25% auto 0px auto;
    padding: 50px 20px 50px 20px
}

/*--------------FOOTER--------------*/

footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0px;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    margin-left: 0px
}

.nav-bottom > ul > li {
    list-style-type: none;
    display: inline
}

.nav-bottom > ul > li:hover {
    color: #990134;
    list-style-type: none;
    display: inline
}

.nav-bottom > ul > li:before {
    content: none
}

.nav-bottom > ul > li > .first-child {
    border-right: 1px solid #603;
    color: #603;
    margin-top: 20px;
    padding-right: 30px;
    text-decoration: none
}

.nav-bottom > ul > li > .first-child:hover {
    color: #990134
}

.nav-bottom > ul > li > .last-child {
    color: #603;
    padding-left: 10px;
    text-decoration: none
}

.nav-bottom > ul > li > .last-child:hover {
    color: #990134
}

/*--------------FIXED COPYRIGHT--------------*/

.copyright-wrap {
    float: right;
    position: relative;
    width: 30px
}

.copyright-wrap div.fix {
    margin-top: 180px;
    margin-left: 250px;
    position: absolute;
    width: 100%
}

.copyright-wrap div.fix div.fixed {
    position: fixed;
    width: 100%
}

.clear-fix { clear: both }

/*--------------BENEFITS.html--------------*/

.performance {
    margin: 60px auto 0px auto;
    width: 100%
}

.performance > div > p > a {
    background-color: #603;
    border-radius: 10px;
    color: #FFF;
    display: inline;
    float: left;
    font-size: .8em;
    height: 50px;
    line-height: 25px;
    margin: 10px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    width: 19.5%
}

.performance > div > p.security > a {
    line-height: 45px;
    margin-right: 0px
}

.perform-text {
    border: 2px solid #603;
    border-radius: 10px;
    font-size: .8em;
    margin-left: 10px;
    margin-top: 160px;
    padding: 20px;
    max-width: 840px
}

.performance-small > div {
    display: none
}

/*--------------REFERENCES.html--------------*/

.references {
    max-width: 100%;
    float: left
}

.references > div {
    margin-top: 50px
}

/*--------------IMPRINT.html--------------*/

.imprint {
    font-size: 11pt;
    padding-bottom: 50px
}

.imprint > div.left, .imprint > div.middle {
    float: left;
    margin-right: 5%;
    width: 30%
}

.imprint > div.right {
    float: left;
    width: 30%
}

.imprint img.large {
    margin-top: 300px
}

.imprint img.medium, .imprint img.small1, .imprint img.small2 {
    display: none
}

/*--------------DATAPRIVACYSTATEMENT.html--------------*/

.data-content > p {
    font-size: .9em;
    padding-bottom: 50px;
}

.data-list {
    margin-top: -50px;
    margin-left: 20pxn
}

.data-list > li { text-indent: 0px }

.data-list > li:before { content: none }


/*--------------CONTACT.html--------------*/

.row {
    padding: 20px;
    width: 100%;
    min-height: 1px;
    float: left;
}

.contact {
    font-size: 11pt;
    padding-bottom: 50px
}

.contact > div.left {
    float: left;
    width: 50%
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 20px
}

input[type=text] {
    border: 1px solid;
    border-radius: 4px;
    height: 25px;
    width: 100%
}

input[type=submit].button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffc2e4;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffc2e4;
    box-shadow: inset 0px 1px 0px 0px #ffc2e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #603), color-stop(1, #990134));
    background: -moz-linear-gradient(top, #603 5%, #990134 100%);
    background: -webkit-linear-gradient(top, #603 5%, #990134 100%);
    background: -o-linear-gradient(top, #603 5%, #990134 100%);
    background: -ms-linear-gradient(top, #603 5%, #990134 100%);
    background: linear-gradient(to bottom, #603 5%, #990134 100%);
    color: #fff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#603', endColorstr='#990134',GradientType=0);
    background-color: #603;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #990134;
    display: inline-block;
    cursor: pointer;
    padding: 6px 24px
}

input[type=submit].button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #990134), color-stop(1, #603));
    background: -moz-linear-gradient(top, #990134 5%, #603 100%);
    background: -webkit-linear-gradient(top, #990134 5%, #603 100%);
    background: -o-linear-gradient(top, #990134 5%, #603 100%);
    background: -ms-linear-gradient(top, #990134 5%, #603 100%);
    background: linear-gradient(to bottom, #990134 5%, #603 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990134', endColorstr='#603',GradientType=0);
    background-color: #990134
}

input[type=submit].button:active {
    position: relative;
    top: 1px
}
