@charset "UTF-8";

#i-nav {
    display: none
}

@media (max-width: 1150px) {

    body { font-size: 14pt }

    h3 { font-size: 1.1em }

    ul { line-height: 33px }

    article {
        max-width: 90%;
        margin: 18% auto 0px auto;
        padding: 50px 20px 70px 20px
    }

    nav.main {
        height: 40px
    }

    nav.main > ul.list > li > a {
        margin-left: 2%;
        padding: 0px 7px
    }

    .logo {
        display: none
    }

    .logo-medium {
        display: block;
        float: right;
        position: relative;
        margin-top: -45px;
        max-width: 100%
    }

    /*----------IMPRINT.html----------*/

    .imprint img.large {
        display: none
    }

    .imprint img.medium {
        display: block;
        margin: 0px auto 0px auto;
        max-width: 100%
    }

    .imprint {
        font-size: 11pt;
        line-height: 18pt
    }

    .imprint > div.left, .imprint > div.middle, .imprint > div.right {
        float: left;
        width: 45%
    }

    .imprint > div.left {
        margin-right: 2%;
        padding-left: 5%
    }

    .imprint > div.middle {
        margin-right: 0%
    }

    .imprint > div.right {
        padding-bottom: 60px
    }

    /*----------DATAPRIVACYSTATEMENT.html----------*/

    .data-content > p {
        font-size: .9em;
        padding-bottom: 50px
    }

}

@media (max-width: 980px) {

    /*----------NAVIGATION----------*/

    nav.main {
        padding-left: 0px;
        font-size: .85em
    }

    .nav-item {
        padding: 0px 1%;
        margin-left: 0px
    }

    /*----------BENEFITS.html----------*/

    .performance {
        display: none
    }

    .performance-small {
        display: block;
        margin: 60px auto 0px auto;
        width: 100%
    }

    .performance-small > div > p {
        background-color: #603;
        border-radius: 5px;
        float: left;
        margin-left: 1%;
        margin-top: -12px;
        padding-right: 1%;
        text-align: center;
        width: 48%
    }

    .performance-small > div > p > a {
        color: #fff;
        font-size: .8em;
        text-decoration: none
    }

    .perform-text {
        border: 2px solid #603;
        border-radius: 10px;
        font-size: .8em;
        margin-top: 130px;
        padding: 20px
    }

    /*----------DATAPRIVACYSTATEMENT.html----------*/

    .data-content > p {
        font-size: 12pt
    }

}
