@charset "UTF-8";

/* Layout (global rules for all sizes) */

nav.main > ul.list > li > a {
    display: block;
    padding: 15px 20px;
    height: 10px;
    line-height: 20px;
    margin-left: 20%;
    color: #fff;
    font-weight: bold;
    font-size: .7em;
    text-decoration: none;
    width: 100%
}

nav.main > ul.list > li > a:hover, nav.main > ul.list > li > a.active {
    color: #990134
}

.logo-medium {
    display: none
}

.logo-small {
    display: none
}

@media (max-width: 1550px) {

    nav.main > ul.list > li > a {
        padding: 15px 10px;
        margin-left: 10%
    }

}

@media (max-width: 1280px) {

    nav.main > ul.list > li > a {
        padding: 15px 0px
    }

}
