@charset "UTF-8";

@media (max-width: 768px) {

    .logo-medium {
        display: none
    }

    .logo-small {
        display: block;
        max-width: 100%;
        float: right;
        right: 10px;
        top: -65px;
        position: relative
    }

    .fixed-topline {
        background-color: #fff;
        position: fixed;
        max-width: 768px;
        height: 70px
    }

    /*----------NAVIGATION----------*/

    #i-nav {
        background: none;
        display: block;
        height: 44px;
        left: 20px;
        position: absolute;
        top: 20px;
    }

    #i-nav > div {
        width: 32px;
        height: 4px;
        background: #660033;
        margin: 6px 0px;
        border-radius: 4px
    }

    nav.main {
        height: 0px;
        margin-top: 70px;
        max-width: 500px;
    }

    nav.main > ul {
        float: left;
    }

    nav.main > ul > li {
        float: left;
        width: 100%;
    }

    nav.main > ul.open {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 1s, visibility 1s;
        -moz-transition: opacity 1s, visibility 1s;
        -ms-transition: opacity 1s, visibility 1s;
        -o-transition: opacity 1s, visibility 1s;
        transition: opacity 1s, visibility 1s
    }

    nav.main > ul {
        float: left;
        opacity: 0;
        visibility: hidden;
        z-index: -10;
        -webkit-transition: opacity 1s, visibility 1s;
        -moz-transition: opacity 1s, visibility 1s;
        -ms-transition: opacity 1s, visibility 1s;
        -o-transition: opacity 1s, visibility 1s;
        transition: opacity 1s, visibility 1s
    }

    nav.main > ul.list > li > a {
        background: #660033;
        color: #fff;
        float: left;
        height: 20px;
        left: 0px;
        margin-top: 1px;
        min-width: 320px;
        padding: 10px 20px
    }

    .open div {
        background: #bbb !important
    }

    /*----------IMPRINT.html-----------*/

    .imprint > div.left, .imprint > div.middle, .imprint > div.right  {
        float: left;
        padding-left: 10%;
        width: 100%
    }

    /*----------CONTACT.html----------*/

    input[type=submit].button {
        float: left;
        margin-left: 10%;
        margin-top: -12%
    }

}

@media (max-width: 661px) {

    .logo-small {
        top: -270px
    }

    /*----------IMPRINT.html----------*/

    .imprint img.medium {
        display: none
    }

    .imprint img.small1 {
        display: block
    }

}

@media (max-width: 550px) {

    .performance-small > div > p {
        width: 100%
    }

    .perform-text {
        margin: 200px -5px 0px 5px;
    }

}

@media (max-width: 450px) {

    body {
        font-size: 12pt
    }

    h3 {
        font-size: 1.2em
    }

    /*----------NAVIGATION FOOTER-----------*/

    .nav-bottom > ul > li, .nav-bottom > ul > li:active {
        display: block
    }

    .nav-bottom > ul > li > .first-child {
        border-right: none;
        padding-right: 0px;
        margin-top: 20px;
        text-decoration: none
    }

    .nav-bottom > ul > li > .last-child {
        padding-left: 0px;
        padding-right: 30px;
        text-decoration: none
    }

    /*----------REFERENCES.html----------*/

    .references {
        max-width: 100%;
        float: left
    }

    .references > div {
        margin-top: 50px
    }

    /*----------IMPRINT.html----------*/

    .imprint img.small1 {
        display: none
    }

    .imprint img.small2 {
        display: block
    }

}

@media (max-width: 360px) {

    body {
        font-size: 11pt
    }

    .logo-small {
        top: -270px
    }

    .fixed-topline {
        background-color: #fff;
        position: fixed;
        max-width: 768px;
        height: 70px
    }

}