<article id="x-index">
    <h2>Über uns</h2>
    <p>Unsere Agentur übernimmt mit Hilfe zahlreicher Serviceleistungen alle Aufgaben rund um das Personal.</p>
    <p>
        Unternehmen aus dem Mittelstand und Großbetriebe sind unsere Kunden, die durch unser Angebot profitieren.<br>
        Durch unsere ausgefeilten Assessment Methoden können wir Ihnen in kürze Personal verschaffen.
    </p>
    <p>Ob kurz- oder langfristig die perfekte Rekrutierung zu jeder Zeit. </p>
</article>