<article id="x-advantages">
    <h2>Ihre Vorteile</h2>
    <ul>
        <li><strong>termingerechte Bereitstellung</strong> qualifizierter Mitarbeiter</li>
        <li><strong>Kostenersparnis</strong> durch ausschließliche Berechnung der reinen Arbeitszeiten</li>
        <li><strong>keine Kosten</strong> für Fehlzeiten wie Urlaub, Feiertage oder Krankheit</li>
        <li><strong>Bereitstellung</strong> erforderlicher Arbeits- bzw. Schutzkleidung</li>
        <li><strong>Überbrückung</strong> von Fehlzeiten und Engpässen</li>
        <li><strong>Konzentration</strong> auf Kernkompetenzen</li>
        <li><strong>Produktionsunterstützung</strong></li>
        <li><strong>Entlastung</strong> der Stammbelegschaft</li>
        <li>individuell auf die Bedürfnisse <strong>zugeschnittene Personalkonzepte</strong></li>
    </ul>
</article>
