<article id="x-benefits">
    <h2>Unsere Leistungen</h2>

    <p>Unsere Dienstleistungen sind vielfältig im Bereich des Personalmanagements. Wir suchen nicht nur kompetente Mitarbeiter, sondern übernehmen auch andere Aufgaben in diesem Zusammenhang.</p>

    <p>Unser Netzwerk ist groß und bietet für jede Branche geeignetes Personal.</p>

    <p>In einem Vorgespräch klären wir Ihren persönlichen Bedarf, etwaige Wünsche und Vorstellungen im Detail. </p>

    <div class="performance">
        <div class="x-perform">
            <p><a href="#x-personnel-procurement"><strong>Personal-<br>vermittlung</strong></a></p>
            <p><a href="#x-transfer-of-personell"><strong>Arbeitnehmer-<br>überlassung</strong></a></p>
            <p><a href="#x-interim-management"><strong>Interim<br>Management</strong></a></p>
            <p class="security"><a href="#x-security"><strong>Security</strong></a></p>
        </div>
    </div>

    <div class="performance-small">
        <div class="x-perform">
            <p><a href="#x-personnel-procurement"><strong>Personalvermittlung</strong></a></p>
            <p><a href="#x-transfer-of-personell"><strong>Arbeitnehmerüberlassung</strong></a></p>
            <p><a href="#x-interim-management"><strong>Interim Management</strong></a></p>
            <p><a href="#x-security"><strong>Security</strong></a></p>
        </div>
    </div>

    <div id="x-perform-text" class="perform-text">
        <div id="x-personnel-procurement" class="visible">
            <h3>Personalvermittlung</h3>
            <div>
                <p>Anhand grundlegender Informationen begeben wir uns zielsicher auf die Suche nach passenden Mitarbeitern, die über die notwendige Expertise verfügen.</p>
                <ul>Die <strong>wichtigsten</strong> Vorteile auf einen Blick:
                    <li> <strong>Zeitersparnis</strong> durch Bewerbervorauswahl</li>
                    <li> <strong>spezifische Suche</strong> durch <strong>eigenes Netzwerk</strong></li>
                    <li> <strong>zügige Ergebnisse</strong> im gesteckten Rahmen</li>
                    <li> <strong>Mitarbeiter der Zukunft nach Maß</strong></li>
                    <li> <strong>hohe Flexibilität</strong> im Berufsleben</li><br><hr>
                </ul>
            </div>
        </div>
        <div id="x-transfer-of-personell">
            <h3>Arbeitnehmerüberlassung</h3>
            <div>
                <p>Wer temporäre Engpässe überwinden muss, kann von unserem Angebot im Rahmen der Zeitarbeit Nutzen ziehen.</p>

                <p>Mutter- und Vaterschaftsurlaub, Krankheit etc. bringen Unternehmen oft in Schwierigkeiten bezüglich der Personalplanung und verlangen eine adäquate Lösung.</p>

                <p>Wir handeln schnell und effektiv für Sie und Ihren Betrieb. Sie ersparen sich eine kostenintensive Suche und können personelle Probleme schnell überwinden.</p>

                <p>Auf diese Weise gerät die Auftragslage nicht in Gefahr und die Ressourcen sind gesichert.</p>

                <p>Unser Personal zeichnet sich durch überdurchschnittliche Flexibilität und Engagement aus. Ein Gewinn für beide Seiten.</p>

                <ul><strong>Vorzüge</strong> der Zeitarbeit:
                    <li> <strong>kompetentes Personal</strong> schnell einsetzbar</li>
                    <li> <strong>Reduzierung der Belastung</strong> für das Management und die Angestellten</li>
                    <li> <strong>motiviertes Personal</strong></li>
                    <li> <strong>kein Auftragsstau</strong></li>
                    <li> <strong>keine statistischen Fehlzeiten</strong></li><br><hr>
                </ul>
            </div>
        </div>
        <div id="x-interim-management">
            <h3>Interim Management</h3>
            <div>
                <p>Besondere Verantwortung und Aufgaben übernehmen auch unsere kooperierenden Freelancer. Hierbei handelt es sich um engagierte Freiberufler und Selbstständige, die Sie bei diversen internen Projekten unterstützen können.</p>
                <p>Diese Methode wird gerne in der Leitungsebene genutzt, um kurzfristige Umstrukturierungen durchführen zu können.</p>
                <ul>Weitere <strong>Vorteile</strong>:
                    <li> <strong>flexibler Einsatz</strong> auch in schweren Phasen</li>
                    <li> <strong>neue Wege</strong> durch neue Spezialisten</li>
                    <li> <strong>komplette Neuausrichtung</strong> im Unternehmen möglich</li><br><hr>
                </ul>
            </div>
        </div>
        <div id="x-security">
            <h3>Security</h3>
            <div>
                <p>Nach §34 a vermitteln wir auch Fachkräfte aus dem Bereich Sicherheit. </p>
                <p>Schutz und Security erfordern besonders geschultes Personal, welches wir zur Verfügung stellen, um die Sicherheit in Ihrem Unternehmen zu gewährleisten.</p>
                <ul><strong>Vorteile</strong> für Sie:
                    <li> <strong>Prüfung der Zertifikate</strong></li>
                    <li> <strong>Berücksichtigung des Leumunds</strong> der Person</li>
                </ul>
            </div>
        </div>
    </div>
</article>
