<article id="x-contact">
    <h2 class="x-hide">Kontakt</h2>
    <div class="contact">
        <div class="left">
            <span>ibisch GmbH</span><br>
            <span>Merzhauser Str. 187</span><br>
            <span>79100 Freiburg</span>
        </div>
        <div>
            <table>
                <tr>
                    <td>Telefon:</td>
                    <td> 0761 - 45 89 41 84</td>
                </tr>
                <tr>
                    <td>Fax:</td>
                    <td> 0761 - 45 89 41 85</td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>kontakt@ibisch-gmbh.de</td>
                </tr>
            </table>
            <br>
        </div>
    </div>
    <h2>Kontaktformular</h2>
    <form role="form" action="{{.Link "index"}}" method="POST">
        <div>
            Firma*: <input type="text" class="text{{if .C "companyNameErr"}} error{{end}}" id="name" name="companyName" value="{{if .C "companyNameValues"}}{{.C "companyNameValuesnyNameValues"}}{{end}}">
            {{if .C "companyNameErr"}}<span class="error">{{.C "companyNameErr"}}</span>{{end}}
            Abteilung: <input type="text" class="text{{if .C "departmentNameErr"}} error{{end}}" id="name" name="departmentName" value="{{if .C "departmentNameValues"}}{{.C "departmentNameValues"}}{{end}}">
            {{if .C "departmentNameErr"}}<span class="error">{{.C "departmentNameErr"}}</span>{{end}}
            Name*: <input type="text" class="text{{if .C "lastNameErr"}} error{{end}}" id="name" name="lastName" value="{{if .C "lastNameValues"}}{{.C "lastNameValues"}}{{end}}">
            {{if .C "lastNameErr"}}<span class="error">{{.C "lastNameErr"}}</span>{{end}}
            Vorname*: <input type="text" class="text{{if .C "firstNameErr"}} error{{end}}" id="name" name="firstName" value="{{if .C "firstNameValues"}}{{.C "firstNameValues"}}{{end}}">
            {{if .C "firstNameErr"}}<span class="error">{{.C "firstNameErr"}}</span>{{end}}
            E-Mail*: <input type="text" class="text{{if .C "customerEmailErr"}} error{{end}}" id="name" name="customerEmail" value="{{if .C "customerEmailValues"}}{{.C "customerEmailValues"}}{{end}}">
            {{if .C "customerEmailErr"}}<span class="error">{{.C "customerEmailErr"}}</span>{{end}}
        </div>
        <div>
            Straße: <input type="text" class="text{{if .C "streetErr"}} error{{end}}" id="name" name="street" value="{{if .C "streetValues"}}{{.C "streetValues"}}{{end}}">
            {{if .C "streetErr"}}<span class="error">{{.C "streetErr"}}</span>{{end}}
            PLZ: <input type="text" class="text{{if .C "postCodeErr"}} error{{end}}" id="name" name="postCode" value="{{if .C "postCodeValues"}}{{.C "postCodeValues"}}{{end}}">
            {{if .C "postCodeErr"}}<span class="error">{{.C "postCodeErr"}}</span>{{end}}
            Ort: <input type="text" class="text{{if .C "cityErr"}} error{{end}}" id="name" name="city" value="{{if .C "cityValues"}}{{.C "cityValues"}}{{end}}">
            {{if .C "cityErr"}}<span class="error">{{.C "cityErr"}}</span>{{end}}
            Telefon*: <input type="text" class="text{{if .C "telephoneErr"}} error{{end}}" id="name" name="telephone" value="{{if .C "telephoneValues"}}{{.C "telephoneValues"}}{{end}}">
            {{if .C "telephoneErr"}}<span class="error">{{.C "telephoneErr"}}</span>{{end}}
            Fax: <input type="text" class="" ass="text{{if .C "faxErr"}} error{{end}}" id="name" name="fax" value="{{if .C "faxValues"}}{{.C "faxValues"}}{{end}}">
            {{if .C "faxErr"}}<span class="error">{{.C "faxErr"}}</span>{{end}}
        </div>
        <div>Ihre Nachricht an uns*:
            <textarea class="text{{if .C "customerMessageErr"}} error{{end}}" id="name" name="customerMessage">
                {{if .C "customerMessageValues"}}{{.C "customerMessageValues"}}{{end}}
            </textarea>
            {{if .C "customerMessageErr"}}<span class="error">{{.C "customerMessageErr"}}</span>{{end}}
        </div><br>
        <input class="button" type="submit" name="send" value="Absenden">
    </form>
</article>
