<div class="row">
    <div class="col-md-8">
        <h1>Seite nicht gefunden!</h1>
        <p>
            Die aufgerufene Seite konnte nicht gefunden werden.<br>
            Zurück zur <a href="/">Startseite</a>
        </p>
    </div>
</div>
