<article id="x-imprint">
    <h2>Impressum</h2>
    <div class="imprint">
        <div class="left">
            <p>Informationen nach § 5 TMG:</p>
            <p>
                <strong>ibisch GmbH</strong><br>
                Merzhauser Straße 187<br>
                79100 Freiburg
            </p>
            <table>
                <tr>
                    <td>Telefon:</td>
                    <td><strong>+49(0)761 3841 1108</strong></td>
                </tr>
                <tr>
                    <td>Fax:</td>
                    <td>+49(0)761 3841 1109</td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>kontakt@ibisch-gmbh.de</td>
                </tr>
                <tr>
                    <td>Web:</td>
                    <td>www.ibisch-gmbh.de</td>
                </tr>
            </table>
        </div>
        <div class="middle">
            <p>
                <strong>Geschäftsführer</strong><br>
                Hüseyin Delipalta
            </p>
            <p>
                <strong>Sitz der Gesellschaft</strong><br>
                Freiburg i.Br.
            </p>
             <p>
                <strong>Handelsregister</strong><br>
                Amtsgericht Freiburg HRB: 708951<br>
            </p>
        </div>
        <div class="right">
            <p>
                <strong>Betriebsnummer</strong> 27180011<br>
                <strong>USt-IdNr.</strong> DE284989539
            </p>
            <p>
                <strong>Zuständige Aufsichtsbehörde</strong><br>
                Amt für öffentliche Ordnung<br>
                Baslerstr. 1, 79100 Freiburg
            </p>
        </div>
        <center><img src="main/statics/images/people.png" class="large"></center>
        <center><img src="main/statics/images/people_medium.png" class="medium"></center>
        <center><img src="main/statics/images/people_small1.png" class="small1"></center>
        <center><img src="main/statics/images/people_small2.png" class="small2"></center>
    </div>
</article>
