<!DOCTYPE html>
<html>
    <head>
        <title>{{.MetaData.title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{.MetaData.description}}">
        <meta name="robots" content="{{.MetaData.robots}}">
        <link rel="shortcut icon" href="/main/statics/images/favicon.ico">
        {{range .Css}}
            <link rel="stylesheet" type="text/css" href="{{.}}">
        {{end}}
        {{range .Js}}
            <script src="{{.}}"></script>
        {{end}}
    </head>
    <body>
        <wrapper>
            <div class="fixed-topline">
                <div class="fixed">
                    <nav class="main">
                        <ul id="x-nav" class="list">
                            <li><a href="#x-index">Über uns</a></li>
                            <li><a href="#x-benefits">Unsere Leistungen</a></li>
                            <li><a href="#x-advantages">Ihre Vorteile</a></li>
                            <li><a href="#x-references">Unsere Referenzen</a></li>
                            <li><a href="#x-contact">Kontakt</a></li>
                        </ul>
                    </nav>
                    <a class="logo" href="#x-index"><img src="main/statics/images/logo_nav.png"></a>
                    <a class="logo-medium" href="#x-index"><img src="main/statics/images/logo_nav_medium.png"></a>
                    <a class="logo-small" href="#x-index"><img src="main/statics/images/logo_nav_small.png"></a>
                    <a id="i-nav" href="javascript:void(0);">
                        <div></div>
                        <div></div>
                        <div></div>
                    </a>
                </div>
            </div>
        </wrapper>
        <div class="page">
            <div class="copyright-wrap">
                <div class="fix">
                    <div class="fixed">
                        <img src="main/statics/images/copyright.png">
                    </div>
                </div>
            </div>
            {{.Include "" (.C "ModuleName")}}
        </div>
        <footer>
            <nav class="nav-bottom">
                <ul>
                    <li><a href="#x-dataprivacystatement" class="first-child">Datenschutzerklärung</a></li>
                    <li><a href="#x-imprint" class="last-child">IMPRESSUM</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>