<article id="x-references">
    <div class="references">
        <h2>Unsere Referenzen</h2>
        <div>
            <a href="https://www.dm.de/"><img src="main/statics/images/Kachel-dm.png" style="max-width:120px"></a>
            <a href="https://www.bam-deutschland.de/"><img src="main/statics/images/Kachel-bam.png" style="max-width:120px"></a>
            <a href="http://www.freiburger-stadtbau.de/"><img src="main/statics/images/Kachel-stadtbau.png" style="max-width:120px"></a>
            <a href="https://www.deichmann.com/"><img src="main/statics/images/Kachel-deichmann.png" style="max-width:120px"></a>
            <a href="https://www.penny.de/"><img src="main/statics/images/Kachel-penny.png" style="max-width:120px"></a>
            <a href="http://www.zublin.de/"><img src="main/statics/images/Kachel-zublin.png" style="max-width: 120px"></a>
        </div>
    </div>
</article>
